In [1]:
%connect_info

{
  "shell_port": 49948,
  "iopub_port": 49949,
  "stdin_port": 49950,
  "control_port": 49952,
  "hb_port": 49951,
  "ip": "127.0.0.1",
  "key": "8c306c5c-4e4547257050ff37d65da911",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": ""
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-0cd3fde2-008e-4501-97e3-4561262bb2cd.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.

In [2]:
%matplotlib inline

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('data/nn_results.csv')

result_column = 'keras_info/f1_score'

In [7]:
df.head()

,Unnamed: 0,mean_accuracy,trial_id,training_iteration,time_this_iter_s,done,timesteps_total,episodes_total,experiment_id,date,...,config/threads,config/train_dir,config/tune,config/use_cprofile_for_profiling,config/v,config/verbose,config/verbosity,config/weighted_loss,config/xml_output_file,logdir
0,0,0.934701,c592d0d8,29,26.865980,False,NaN,NaN,a0601c5e46a740c9ab7b38c62d56fd46,2020-05-29_19-12-26,...,4,/home/giancarlo/ray_results/,True,True,-1,1,-1,True,NaN,/home/giancarlo/ray_results/tune-nn-bert-class...
1,1,0.477929,c592d0d9,22,11.126096,False,NaN,NaN,d3d5071ea3e74c3e9eba0a72474732b1,2020-05-29_19-04-18,...,4,/home/giancarlo/ray_results/,True,True,-1,1,-1,True,NaN,/home/giancarlo/ray_results/tune-nn-bert-class...
2,2,0.496160,c592d0da,25,39.525931,False,NaN,NaN,39522cdcba8a45c6b062289f7efbfc13,2020-05-29_19-16-17,...,4,/home/giancarlo/ray_results/,True,True,-1,1,-1,True,NaN,/home/giancarlo/ray_results/tune-nn-bert-class...
3,3,0.500523,c592d0db,9,19.335753,False,NaN,NaN,782a091e23ef4a90b9b5dcb9c7d677f1,2020-05-29_19-03-37,...,4,/home/giancarlo/ray_results/,True,True,-1,1,-1,True,NaN,/home/giancarlo/ray_results/tune-nn-bert-class...
4,4,0.508397,c592d0dc,22,20.409758,False,NaN,NaN,8ad667290c6b4386a22577867b7672e5,2020-05-29_19-07-38,...,4,/home/giancarlo/ray_results/,True,True,-1,1,-1,True,NaN,/home/giancarlo/ray_results/tune-nn-bert-class...

In [10]:
df[[result_column, 'keras_info/weighted_support']]

     keras_info/f1_score  keras_info/weighted_support
0               0.554232                         9951
1               0.328687                         9951
2               0.328687                         9951
3               0.000000                         9951
4               0.000000                         9951
..                   ...                          ...
495             0.328687                         9951
496             0.000000                         9951
497             0.000000                         9951
498             0.000000                         9951
499             0.328687                         9951

[500 rows x 2 columns]